<p>
  Code Camp was the brainchild of four students of Techno Main Salt Lake. <br>
  As a matter of fact, all four of them started their careers under the umbrella of Tata Consultancy Services, and within a year they had attained great heights and moved on to work at even greater places.<br>
  Codecamp had by far remained the most sought after platform to host coding competitions during EDGE, the techno management fest of Techno Main Salt Lake.<br>
  All the CUrBrain members will remain forever grateful to the creators of CodeCamp, who had opened the world of coding for them and helped them embark on this journey.
</p>
